/* Side Menu */
#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: #1D809F;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .width-75{
      width:75% !important;
  }

  .sidebar-nav li.sidebar-nav-item span{
    display:inline-block;
    color: #fff;
    width:20%;
    text-align:center;
  }
  .side-input-text{
    width:75%;
    border-radius:5px;
    padding-left:5px;
    border:0px;
  }
  .sidebar-nav li.sidebar-nav-item{
    margin:5px;
  }

  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.2rem;
    background: rgba(52, 58, 64, 0.1);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  
  .sidebar-nav > .sidebar-brand a {
    color: #fff;
  }
  
  .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
  }
  
  #sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
  
  .menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff !important;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
    cursor: pointer;
  }
  
  .menu-toggle:focus, .menu-toggle:hover {
    color: #fff;
  }
  
  .menu-toggle:hover {
    background: #343a40;
  }

  .white{
      color:white;
  }

.align-right{
  width:100px;
}

.save-btn:hover{
    background: #343a40;
}
.file-div{
    position: relative;
    top:72%;
    margin:0 auto;
}
.file-div-active{
    top:90%;
    margin:0 auto;
    position: relative;

}


.bg-div{
    display: block;
    position: relative;
    top:67%;
}

.pre-view-bg{
    width:80%;
    height:18%;
    margin:0 auto;
}

.custom_textbox{
  width:50px;
  height:25px;
}

