.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../static/image/bg-masthead.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
font-size: 4rem;
margin: 0;
padding: 0;
padding-top:100px;
}

.btn-list{
  margin-top:-45px;
}

.input-textbox{
    display:block;

    margin:5px auto;

    width:30%;
    height:4rem;
    border-radius:8px;
    padding:8px;
}

.btn-primary {
    background-color: #1D809F !important;
    border-color: #1D809F !important;
    color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #155d74 !important;
    border-color: #155d74 !important;
}
.font-btn{
    border-radius:100%;
    width:60px;
    height:60px;
    margin:10px;
    background-color: #1D809F !important;
    border-color: #1D809F !important;
}

.isSelected{
    background-color: #155d74 !important;
    border-color: #155d74 !important;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro';
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 480px) {
  .masthead {
      height: 100vh;
      padding-top: 2rem;
      padding-bottom: 12rem;
  }
  .masthead h1 {
      font-size: 4.5rem;
  }
  .input-textbox{
    margin:5px auto;
    width:50%;
    height:4rem;
    border-radius:8px;
    padding:8px;
  }
  .create-btn{
    width:35%;
    height: 50px;
    padding-top:10px !important;
  }

}
