.div_style{
    display:inline-block;
    width:100%;
}
.div_style2{
    display:inline-block;
    border:1px solid black;
    border-radius:5px;
    padding:10px;
    background-color:white;
}
.custom_textbox{
    width:50px;
    height:30px;
    border:1px solid #aaa;
    border-radius:5px;
    margin-bottom:3px;
    padding:5px;
}
.sample_img{
    display: inline-block;
    width:50px;
    height:50px;
}
.small-range{
    width:40%!important;
}