.div_style{
    display:inline-block;
    width:100%;
}
.div_style2{
    display:inline-block;
    border:1px solid black;
    border-radius:5px;
    padding:10px;
    background-color:white;
}
.custom_textbox{
    width:50px;
    height:30px;
    border:1px solid #aaa;
    border-radius:5px;
    margin-bottom:3px;
    padding:5px;
}
.sample_img{
    display: inline-block;
    width:50px;
    height:50px;
}
.small-range{
    width:70%!important;
}
.medium-range{
    width:60%!important;
}

  
.range-custom {
    -webkit-appearance: none;
    height: 8px;
    border-radius: 5px;  
    background: #fff;
    outline: none;
    opacity: 1.0;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left:3px;
    margin-right:3px;
  }
  
.range-custom::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #ffae00;
    cursor: pointer;
}

.range-custom::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.width-25{
    width:25%;
}
.save-btn{
    width:80px;
    height:40px;
    text-align: center;
    color: #fff;
    font-size:25px;
    font-weight: 300;
    border-radius: 15px;
}
.save-btn:hover{
    background-color: #232529 !important;
}

.back-img{
    opacity: 0.3;
    width:40px;
    height:40px;
}
.back-btn{
    width:100px;
    height:60px;
    padding:10px;
    margin-top:20px;
    -webkit-transition: .2s;
    transition: margin .2s;

    border:3px solid #232529!important;
    border-radius: 20px;
}


.back-btn:hover{
    width:100px;
    height:60px;
    padding:10px;
    margin-top:15px;

    margin-top:10px;

    background-color:#232529;
}