.image_style{
    position: relative;
    border:"1px solid black";
    border-radius:"5px";
    max-width:100%;
    display: inline-block; 
    vertical-align: middle;
}

.image-div{
    min-width:300px;
    min-height:300px;
    background: #ffffff;
    text-align: center;
    padding-top:48px;
    padding-bottom:48px;
    border-radius:5px;
}

.image-div>a{
    width:10px;
}
