body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.font1{
  font-family: 'Gamja Flower', cursive;
}
.font2{
  font-family: 'Black Han Sans', sans-serif;
}
.normal-font{
  font-family: 'Noto Sans KR', sans-serif;
}
span, li, p{
  font-family: 'Noto Sans KR', sans-serif;

}
.App{
  height:100%;
}